@charset "UTF-8";

body {
    background-color: #5A7684;
}

h1 {
    color:#92AFD7;
}

h1#principal {
    text-align: center;
    background-color: rgb(53, 50, 70);
}   

h2 {
    color: #C5D1EB;
}

.basico {
    color: bisque;
}

.intermediraio {
    color: azure;
}

.avançado {
    color: aliceblue;
}

.destaque {
    background-color: rgba(255, 255, 0, 0.093);
}